body {
    background-image:url('/img/background.jpeg');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

video::-webkit-media-controls {
  display:none !important;
}

.overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.overlay .message {
  width: 300px;
  height: 50px;
  background-color: white;
  margin: 200px auto;
  padding: 100px auto;
  text-align: center 
}